:root {
  --header-height: 56px;
}

body {
  font-family: 'Sanchez', serif;
}

.header {
  background-color: #282c34;
  height: var(--header-height);
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  float: left;
  margin-left: 16px;
}
.menuItems {
  float: right;
  justify-content: center;
  margin-right: 16px;
}

#canvas {
  width: 100%;
  height: 90vh;
  background: rgba(33,33,33,.08);
}

#gui {
    position: fixed;
    margin-top: var(--header-height); 
    top: 0;
    right: 0;
    background-color: rgba(33,33,33,.08);
    bottom: 0;
  }