:root {
  --header-height: 56px;
}

body {
  font-family: 'Sanchez', serif;
}

.header {
  background-color: #282c34;
  height: var(--header-height);
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  float: left;
  margin-left: 16px;
}
.menuItems {
  float: right;
  justify-content: center;
  margin-right: 16px;
}

.secondBar {
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1) !important;
}

#canvas {
  width: 100%;
  height: 90vh;
  background: rgba(33,33,33,.08);
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/groovepaper.png);
  overflow: hidden;
}


#canvas canvas {
  position: relative !important;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1) !important;
  border-radius: 5px;
}

#gui {
    position: relative;
    margin-top: var(--header-height); 
    top: 100px;
    right: 30px;
    background-color: white;
    bottom: 0;
    border-radius: 5px;
    overflow: hidden;
    padding: 16px;
    width: 350px !important;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1) !important;
}
.dg.a {
  margin-right: 0px !important;
}

.cr  {
  border-left: 0px !important;
  padding: 4px 8px !important;
  height: auto !important;
}
.dg .cr.function {
  background-color: #333 !important;
  border-radius: 5px;
  margin: 8px !important;
  height: auto !important;
}
.dg .cr.function .property-name {
  color: #fff !important;
  text-align: center;
  width: 100% !important;
  font-weight: 500
}

.dg .c .slider {
    background: #efefef !important;
}
.dg li:not(.folder) {
  background: #fff !important;
  border-bottom: 1px solid #efefef !important;
}
.dg {
  color: #333 !important;
  font: 11px 'Sanchez', sans-serif !important;
  text-shadow: none !important;
}
.dg .c input[type=text] {
  background-color: transparent !important;
  margin-top: 0px !important;
}

.dg .c input[type=text]:focus {
  color: #333 !important;
  border: .5px #efefef solid !important;
}

.close-button {
  display: none !important;
}
